
<body>
    <div class="register">
        
        <div class="register__card">
            <div class="frontRegister">
                <h1 class="frontRegister__title">Register Here</h1>
            </div>

            <div class="backRegister">
                <h1 class="backRegister__title">Register your info</h1>

                <form action="/registerInfo" method="post"  >
                    <input name="username" placeholder="Enter your name" type="text" required>
                    <input name="lastname" placeholder="Enter your last name" type="text">
                    <input name="password" placeholder="Create a password" type="password" required>
                    <div class="btn"> 
                    <button type="submit" id="btn-send">Send</button>
                    <button type="reset" id="btn-reset">Reset</button>
                    </div>
                </form>

            </div>
        </div>

    </div>

</body>
