

<body>
    <div class="register">
        
        <div class="register__card">
            <div class="frontRegister">
                <h1 class="frontRegister__title">{{mensaje}}</h1>
            </div>

            <div class="backRegister">
                <h1 class="backRegister__title">Bienvenido {{username}}</h1>


            </div>
        </div>

    </div>

</body>
